<article class="content js-section" data-id="study">
  <div class="content__faketitle content__faketitle--internal js-fake-blob-title"></div>

  <div class="content__fakescroll content__fakescroll--internal js-fake-scroll"></div>

  <div class="description js-description">
    {% trans %}sections.study.description{% endtrans %}
  </div>

  <div class="background__icons background__icons--study">
		{% include 'svg/study.html.twig' with {'className': 'js-icon-study-1'} %}
		{% include 'svg/study.html.twig' with {'className': 'js-icon-study-2'} %}
	</div>

  <div class="blob">
    <div class="blob__image blob__image--study js-blob-image">
      <div class="description description--blob">
        {% trans %}sections.study.description_blob{% endtrans %}
      </div>

      <div class="description description--blob description--blob-mobile">
        {% trans %}sections.study.description_blob_mobile{% endtrans %}
      </div>
    </div>
  </div>
</article>
