<article class="content js-section" data-id="think">
  <div class="content__faketitle content__faketitle--internal js-fake-blob-title"></div>

  <div class="content__fakescroll content__fakescroll--internal js-fake-scroll"></div>

  <div class="description js-description">
    {% trans %}sections.think.description{% endtrans %}
  </div>

  <div class="background__icons background__icons--think">
		{% include 'svg/think.html.twig' with {'className': 'js-icon-think-1'} %}
		{% include 'svg/think.html.twig'  with {'className': 'js-icon-think-2'} %}
	</div>

  <div class="blob">
    <div class="blob__image blob__image--think js-blob-image">
      <div class="description description--blob">
        {% trans %}sections.think.description_blob{% endtrans %}
      </div>

      <div class="description description--blob description--blob-mobile">
        {% trans %}sections.think.description_blob_mobile{% endtrans %}
      </div>
    </div>
  </div>
</article>
