<h1 class="editorial__title">{% trans %}page.privacy.customers.title{% endtrans %}</h1>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.1.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.1.text{% endtrans %}</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.2.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.2.text1.text{% endtrans %}</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.2.text1.dot1{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.2.text1.dot2{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.2.text1.dot3{% endtrans %}</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.3.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.3.text1.text{% endtrans %}</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.3.text1.dot1{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.3.text1.dot2{% endtrans %}</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.4.title{% endtrans %}</h2>
	</div>
	<div>
		<div class="editorial__table">
			<div class="editorial__table__row">
				<div class="editorial__table__col">
					<strong>{% trans %}page.privacy.customers.4.tab1.title{% endtrans %}</strong>
				</div>
				<div class="editorial__table__col">
					<strong>{% trans %}page.privacy.customers.4.tab2.title{% endtrans %}</strong>
				</div>
				<div class="editorial__table__col">
					<strong>{% trans %}page.privacy.customers.4.tab3.title{% endtrans %}</strong>
				</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab1.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab1.text1{% endtrans %}</div>
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab2.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab2.text1{% endtrans %}</div>
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab3.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab3.text1{% endtrans %}</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab1.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab1.text2{% endtrans %}</div>
				<div class="editorial__table__col hide-desk" data-head="{% trans %}page.privacy.customers.4.tab2.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab2.text2{% endtrans %}</div>
				<div class="editorial__table__col hide-desk" data-head="{% trans %}page.privacy.customers.4.tab3.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab3.text2{% endtrans %}</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab1.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab1.text3{% endtrans %}</div>
				<div class="editorial__table__col hide-desk" data-head="{% trans %}page.privacy.customers.4.tab2.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab2.text3{% endtrans %}</div>
				<div class="editorial__table__col hide-desk" data-head="{% trans %}page.privacy.customers.4.tab3.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab3.text3{% endtrans %}</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab1.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab1.text4{% endtrans %}</div>
				<div class="editorial__table__col" data-head="{% trans %}page.privacy.customers.4.tab2.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab2.text4{% endtrans %}</div>
				<div class="editorial__table__col hide-desk" data-head="{% trans %}page.privacy.customers.4.tab3.title{% endtrans %}">{% trans %}page.privacy.customers.4.tab3.text4{% endtrans %}</div>
			</div>
		</div>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.5.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.5.text{% endtrans %}</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.6.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.6.text{% endtrans %}</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.7.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.7.text1.text{% endtrans %}</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.7.text1.dot1{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.7.text1.dot2{% endtrans %}</li>
		</ul>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.7.text2{% endtrans %}</p>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.7.text3.text{% endtrans %}</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.7.text3.dot1{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.7.text3.dot2{% endtrans %}</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.8.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.8.text1.text{% endtrans %}</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.8.text1.dot1{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.8.text1.dot2{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.8.text1.dot3{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.8.text1.dot4{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.8.text1.dot5{% endtrans %}</li>
			<li class="editorial__list__item">• {% trans %}page.privacy.customers.8.text1.dot6{% endtrans %}</li>
		</ul>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.8.text2{% endtrans %}</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">{% trans %}page.privacy.customers.9.title{% endtrans %}</h2>
	</div>
	<div>
		<p class="editorial__paragraph">{% trans %}page.privacy.customers.9.text{% endtrans %}</p>
	</div>
</div>
